.ProfileTemplate-Wrapper {
    .template-individual {
        //min-height: 300px;
        position: relative;
        cursor: pointer;
    }

    .template-controls {
        bottom: 0;
        padding-bottom: 8px;
        left: 0;
        right: 0;
        //position: absolute;
        background: white;
    }

    .template-title {
        //position: absolute;
        background: linear-gradient(180deg, white, transparent);
        background: white;
        left: 0;
        right: 0;
        top: 0;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        overflow: hidden;
    }
}
