nav {
    width: 250px;
    //background-color: #f2e6fa24;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            a {
                display: block;
                padding: 8px;
                text-decoration: none;
                border-radius: 8px;
                margin: 0 8px;
                color: #14001f;
                transition: 0.3s;

                &:hover {
                    background-color: #ff510014;
                }
            }

            .active {
                background: #ff510014;
                transition: 0.3s;
                color: var(--primary);
            }
        }
    }

    .navigation-icon {
        padding: 8px;
        padding-left: 16px;
        height: 57px;
        display: flex;
        align-items: center;
        font-weight: 700;
        color: var(--primary);
        //border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}
