.chat {
    position: relative;
    //width: 270px;
    padding: 10px;
    margin: 1em auto 50px;
    text-align: center;
    color: black;
    background: #e5e5ea;
    //border: 1px solid gray;
    border-radius: 30px;
}

/* creates part of the curve */
.chat:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 7px;
    left: -8px;
    height: 20px;
    border-left: 20px solid #e5e5ea;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

/* creates part of the curved pointy bit */
.chat:after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 7px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-top-right-radius: 14px;
    -webkit-transform: translate(-30px, -2px);
}
